<div class="book-card">
    <div>
        <figure class="book-image">
            <img src="/assets/image/book.png" alt="">
        </figure>
    </div>
    <div class="book-info">
        <label for="title">Title</label>
        <p for="title-book">{{ @book.name }}</p>
        <label for="gender">Gender</label>
        <p for="gender-book">{{ @book.gender }}</p>
    </div>
</div>