<nav class="menu">
    <div class="menu-logo">
        <i class="fas fa-bars"></i>
    </div>
    
    <div class="menu-profile">
        <div class="profile-info">
            <label for="user-name">Diego Sánchez</label>
        </div>
        <figure class="profile-photo">
            <img src="https://randomuser.me/api/portraits/men/24.jpg" alt="image-profile">    
        </figure>
    </div>
</nav>