<div class="wrap-photo">
    <figure class="photo-img">
        <img src="{{ this.file }}" alt="user-photo-default">
    </figure>
</div>
{{#unless @isDisabled}}
    <label class="custom-file-upload">
        <Input 
            @id="inputFile"
            @type="file" 
            {{on "change" this.changedFile}}
        />
        Search
    </label>
{{/unless}}